input {
  padding: ($padding + 5) ($padding * 3);
  color: $gray-medium;
  border: 0;
  border-radius: ($radius * 10);
  outline: 0;
  transition: box-shadow .35s;

  &:focus,
  &:active {
    box-shadow: inset 0px 0px 5px 0px $primary;
  }
}