.header-profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: ($margin * 2);
  padding-bottom: ($margin * 2);
  border-bottom: 1px solid $gray-light;

  .title {
    color: $primary-dark
  }
}